.app {
    position: relative;
}

.animatedShapes {
    background-color: black;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: flex;
}

.animatedShapes::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 1;
    backdrop-filter: blur(150px);
}

.animatedShapes div {
    width: 380px;
    height: 320px;
    animation: rotate 10s infinite linear;
    transform: rotate(360);
    position: sticky;
    top: 0;
}

.animatedShapes .shape1 {
    background-color: #ff0000;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    left: 390px;
    top: 150px;
    animation-name: random3;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.animatedShapes .shape2 {
    background-color: #b3fc92;
    border-radius: 13% 87% 28% 72% / 64% 12% 88% 36%;
    left: -270px;
    top: 140px;
    animation-name: random2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.animatedShapes .shape3 {
    background-color: #00ffb3;
    border-radius: 56% 44% 66% 34% / 57% 12% 88% 43%;
    left: 30px;
    top: 160px;
    animation-name: random1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes random1 {
    0%
    {
        left: 00px;
        top: 00px;
    }
    50% {
        left: 30px;
        top: 160px;
    }
    100% {
        left: 00px;
        top: 00px;
    }
}
@keyframes random2 {
    0%
    {
        left: 00px;
        top: 00px;
    }
    50% {
        left: -270px;
        top: 140px;
    }
    100% {
        left: 00px;
        top: 00px;
    }
}
@keyframes random3 {
    0%
    {
        left: 00px;
        top: 00px;
    }
    50% {
        left: 390px;
        top: 150px;
    }
    100% {
        left: 00px;
        top: 00px;
    }
}