.verify {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    animation-name: opactiyHidden;
    animation-duration: 0.9s;
    position: relative;
}

@keyframes opactiyHidden {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.verfiy-header {
    text-align: center;
    width: 100%;
}

.verify .fa-envelope {
    transform: scale(1);
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(10deg);
    }
}

.verify .verifycode {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.verify .loading {
    background-color: rgba(255, 255, 255, 0.363);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.verify .loading i {
    background: -webkit-radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 60px;
}

.success-verification {
    text-align: center;
}

.success-verification img {
    animation-name: scaleVerification;
    animation-duration: 0.5s;
}

@keyframes scaleVerification {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.success-verification h3 {
    animation-name: opacityVerification;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    position: relative;
    bottom: 0;
}

@keyframes opacityVerification {
    0% {
        opacity: 0;
        bottom: 20px;
    }
    100% {
        opacity: 1;
        bottom: 0px;
    }
}