.about-us {
    color: rgb(180, 0, 0);
}

.about-us h2 {
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    -webkit-text-stroke: 2px #be0000;
    color: transparent;
}

.about-us h2 span {
    -webkit-text-stroke: 0px #be0000;
    color: red;
    text-transform: none;
}

.about-us h2::selection {
    color: red;
}

.about-us .box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 50px;
}

.about-us .box div {
    width: 25%;
    text-align: center;
}

.about-us .box div img {
    width: 80px;
}