.card {
    width: 300px;
    height: 400px;
    background-color: transparent;
    border-radius: 40px;
    background-color: #49494948;
    position: relative;
    overflow: hidden;
    color: #fff;

}

.card .bg-gm {
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: top;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 250px;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    transition-property: all;
    cursor: pointer;
}

.card .bg-gm:hover {
    background-size: 80%;
    background-position-y: -40px;
}

.card h4 {
    font-size: 20px;
    margin-left: 10px;
    text-transform: uppercase;
}

.card p {
    margin-left: 10px;
    width: 250px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card button {
    position: absolute;
    bottom: 0;
    color: #000;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
    font-weight: bold;
    transition-duration: 0.2s;
}

.card .download {
    margin-left: 10px;
}

.card button::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    z-index: -1;
}

.card button:hover::before {
    width: 0%;
}

.card button:hover {
    color: #fff;
}