.containerDetails {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerDetails::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.363);
    width: 100%;
    height: 100%;
    position: absolute;
    backdrop-filter: blur(18px);
    z-index: -1;
    animation: blurSmoothly 0.2s linear;
}

@keyframes blurSmoothly {
    0% {
        backdrop-filter: blur(0);
    }
    100% {
        backdrop-filter: blur(18px);
    }
}

.containerDetails .detailsBox {
    width: 60%;
    position: relative;
    direction: rtl;
    padding: 60px;
    background-color: rgba(0, 0, 0, 0.438);
    display: none;
    flex-flow: row wrap;
    justify-content: space-between;
    color: #fff;
    border-radius: 50px;
    transform: scale(1);
}

.containerDetails .detailsBox .image {
    width: 30%;
    height: 300px;
    background-image: url("../../imgs/bg/callofduty.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-color: #000;
    border-radius: 20px;
}

.containerDetails .detailsBox .description {
    width: 60%;
}

.containerDetails .detailsBox .description h3 {
    font-size: 30px;
    text-transform: uppercase;
}

.containerDetails span {
    display: inline-block;
    margin: 0 10px;
}

.containerDetails .detailsBox .btnCart {
    width: 60%;
    background-color: red;
    text-align: center;
    border-radius: 20px;
    transition-duration: 0.2s;
}

.containerDetails .detailsBox .btnCart:hover {
    background-color: rgb(173, 1, 1);
}

.containerDetails a {
    position: absolute;
    left: 30px;
    bottom: 20px;
    width: fit-content;
    background-color: red;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    padding: 5px;
    border: 1px solid transparent;
    transition-duration: 0.5s;
}

.containerDetails a img {
    vertical-align: middle;
}

.containerDetails a:hover {
    background-color: transparent;
    border: 1px solid #f00;
}

.containerDetails .show {
    display: flex;
    animation: scallingIn 0.5s linear;
}

@keyframes scallingIn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.containerDetails .closebtn {
    position: absolute;
    top: 20px;
    right: 30px;
    font-weight: bold;
    font-size: 20px;
}

.input-verify input {
    display: block
    ;
}

.boxVerify {
    text-align: center;
    width: 50% !important;
}

.boxVerify .description {
    width: 100% !important;
}

.boxVerify .inp-verify input {
    width: 40%;
    margin: auto;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    font-family: monospace;
    letter-spacing: 7px;
}

.boxVerify .inp-verify input::placeholder {
    color: #ccc;
}

.verifiedMail {
    width: 100%;
    direction: ltr;
}

.verifiedMail img {
    width: 120px;
}

@media screen and (max-width: 1400px) {
    .containerDetails .show {
        flex-flow: column wrap;
    }
    .containerDetails .detailsBox .image {
        width: 100%;
        height: 400px;
    }
    .containerDetails .detailsBox .description {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 1030px) {
    .containerDetails .detailsBox {
        padding: 0;
    }
    .containerDetails .detailsBox .description {
        padding: 0 20px;
        padding-bottom: 90px;

    }
}

@media screen and (max-width: 700px) {
    .boxVerify .description h3 {
        padding: 10px;
    }
    
    .boxVerify .input-verify {
        width: 100%;
    }

    .boxVerify .input-verify input {
        width: 100%;
    }
    
    .containerDetails .detailsBox .image {
        width: 100%;
        height: 200px;
    }

    .containerDetails .detailsBox .description h3 {
        font-size: 20px;
    }

    .containerDetails .detailsBox .description p {
        font-size: 13px;
    }

    .containerDetails .detailsBox .description {
        padding-bottom: 90px;
    }
}

@media screen and (max-width: 500px) {
    .containerDetails .detailsBox .image {
        width: 100%;
        height: 150px;
    }
    .containerDetails a {
        font-size: 12px;
    }
    .containerDetails .detailsBox .btnCart {
        font-size: 12px;
    }
}

@media screen and (max-width: 455px) {
    .containerDetails .detailsBox {
        width: 90% !important;
    }
}