footer {
    text-align: center;
    padding: 20px;
    text-transform: capitalize;
}

footer .head {
    text-align: center;
    color: #fff;
}

footer h1 {
    display: inline-block;
    width: 90px;
    padding: 40px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

footer p {
    width: 40%;
    margin: auto;
    padding: 20px;
}

footer h1::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 27, 27, 0.822);
    backdrop-filter: blur(50px);
    z-index: -1;
}

footer h2 {
    color: #C0C0C0;
    font-size: 50px;
    font-weight: 500;
    text-transform: uppercase;
}

footer button {
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.74);
    border-radius: 10px;
}

footer button img {
    vertical-align: middle;
    margin: 0 5px;
}