header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 100%;
    z-index: 1;
}


.static-header {
    position: absolute;
    top: 0px;
} 

.sticky-header {
    z-index: 999;
    position: fixed;
    animation: topDown 0.5s linear;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.747);
}


@keyframes topDown {
    0% {
        top: -100px;
    }
    100% {
        top: 0px;
    }
}

.nav {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.nav .line {
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin: 7px 0;
    border-radius: 20px;
}

.nav .rot-1 {
    transform: rotate(40deg);
    position: relative;
    left: 0px;
    bottom: -9px;
    animation: rotate1 0.2s linear;
}

@keyframes rotate1 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(40deg);
    }
}

.nav .rot-3 {
    transform: rotate(140deg);
    position: relative;
    top: 0px;
    animation: rotate3 0.2s linear;
}

@keyframes rotate3 {
    0% {
        transform: rotate(0deg);
    }
    100% {
    transform: rotate(140deg);
    }
}

.nav .hide {
    display: none;
}