h1 {
    -webkit-text-stroke: 1px black;
    color: white;
    letter-spacing: 1.5px;
    cursor: default;
    text-transform: capitalize;
}

h1 span {
    color: red;
    -webkit-text-stroke: 1px black;
    text-transform: uppercase;
    font-family: serif;
    font-style: italic;
}