.store {
    color: #fff;
    width: 90%;
    margin: auto;
}

.store h2 {
    text-transform: uppercase;
}

.store .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.store .container .card {
    margin: 10px;
    height: 450px;
}
