.store {
    color: #fff;
    width: 90%;
    margin: auto;
}

.store h2 {
    text-transform: uppercase;
}

.store .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.store .container .card {
    margin: 10px;
    height: 450px;
}

@media screen and (max-width: 1073px) {
    .store .container .card {
        height: 250px;
    }
}


@media screen and (max-width: 550px) {
    .store .container .card {
        width: 100px;
        height: 100px;
        border-radius: 20px;
    }
    .store .card .bg-gm {
        height: 100%;
        border-radius: 0;
    }

    .store .card h4,
    .store .card p,
    .store .card button {
        display: none;
    }
}